<div class="coutry-container">
  <h1>{{name}}</h1>
  <p class="best-title">Capital: {{capital}}</p>
  <p class="best-title">Population: {{population}}</p>
  <p class="best-title">Languages:</p>
  <ul class="language">
    {{#each languages}}
    <li>{{name}}
    </li>
    {{/each}}
  </ul>
  <img src="{{flag}}" alt="flag" class="country-flag">
</div>